extends layout.pug

block content
    ul
      each product in products
        li
          a(href='/produit/' + product._id)= product.name    
      else
        li Il n'y a pas de produits en ce moment
