
html
  head
    title= title
  body
    form( method="POST" )
      input( type='email', name="email" )
      input( type='password', name="password" )
      button( type="submit")= "Créer mon compte"
