extends layout.pug

block content
    form( method="POST" )
      input( type='firstname', name='firstname', placeholder='Nom')
      input( type='lastname', name='lastname', placeholder='Prénom')
      input( type='email', name="email", placeholder='Email' )
      input( type='password', name="password", placeholder='Mot de passe' )
      button( type="submit")= "Créer mon compte"
