h2 {
  font-family: freight-neo-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
h3,
h4,
p,
span {
  font-family: cronos-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.header ul {
  display: flex;
}
.header ul li > ul {
  visibility: hidden;
}
.header ul li:hover > ul {
  visibility: visible;
}
